In [1]:
my_list = [1,2,3,4,5]

In [2]:
my_list

[1, 2, 3, 4, 5]

In [3]:
my_list = ['String', 12, 12.4]

In [4]:
my_list

['String', 12, 12.4]

In [5]:
len(my_list)

3

In [6]:
my_list = ["string1", "string2", "string3", 4, 5]

In [7]:
my_list

['string1', 'string2', 'string3', 4, 5]

In [8]:
my_list[0]

'string1'

In [9]:
my_list[1:]

['string2', 'string3', 4, 5]

In [10]:
my_list[:3]

['string1', 'string2', 'string3']

In [11]:
'hello' + 'world'

'helloworld'

In [12]:
new_list = ["string 5", 3]

In [13]:
my_list + new_list # you can concatenate new lists

['string1', 'string2', 'string3', 4, 5, 'string 5', 3]

In [14]:
my_list * 2

['string1', 'string2', 'string3', 4, 5, 'string1', 'string2', 'string3', 4, 5]

In [15]:
l = [1, 2, 3]

In [16]:
l

[1, 2, 3]

In [17]:
l.append(5)  #Example of using the append method to add objects to a list

In [18]:
l

[1, 2, 3, 5]

In [19]:
l.append('Append Me!')

In [20]:
l

[1, 2, 3, 5, 'Append Me!']

In [21]:
l.pop() #removes and returns the last item in a list

'Append Me!'

In [22]:
l

[1, 2, 3, 5]

In [23]:
x = l.pop(2)

In [24]:
x

3

In [25]:
l

[1, 2, 5]

In [27]:
l[3] # the index is larger than the largest available slot in the range

IndexError: list index out of range

In [28]:
new_list = ['a', 'e','x','b','c']

In [29]:
new_list.reverse() #reverse the order of the list

In [30]:
new_list

['c', 'b', 'x', 'e', 'a']

In [31]:
new_list.sort() #sorts the list default in ascending order

In [32]:
new_list

['a', 'b', 'c', 'e', 'x']

In [36]:
a = [1, 2, 3]
b = [4, 5, 6]
c = [7, 8, 9]

In [37]:
matrix = [a, b, c]

In [38]:
matrix # creates a matrix via a list of lists (nested data structures is a list inside of a list or another type of data structure
)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [39]:
matrix[0] #indexing on first level returns the list

[1, 2, 3]

In [40]:
matrix[0][0] #each additional bracket gets you to the next level of the object's data structures

1

In [41]:
matrix[2][0]

7

In [43]:
first_column = [row[0] for row in matrix] #states that the object should index at zero every row in matrix

In [44]:
first_column

[1, 4, 7]